.main {
  display: block;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.box__nf4NP {
  position: absolute;
  font-size: 24px;
  left: 0px;
  top: 640px;
  width: 1900px;
  height: 219px;
  font-weight: 400;
  color: #0c4c0c;
  padding: 0px 250px 0px 256px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nf4NP {
    width: 418px;
    top: 281px;
    font-size: 20px;
    padding-left: 24px;
    padding-right: 24px;
    height: 330px;
  }
}
.img__t6I05 {
  position: absolute;
  object-fit: none;
  width: 1387px;
  height: 362px;
  left: 257px;
  top: auto;
  object-position: 50% 42%;
  z-index: 0;
  bottom: 406px;
  right: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__t6I05 {
    width: 412px;
    height: 127px;
  }
}
.box__sr3Wi {
  padding-left: 200px;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  left: 0px;
  top: 390px;
  width: 1900px;
  height: 256px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__sr3Wi {
    left: 4px;
    top: 150px;
    width: 406px;
    padding-left: 0px;
    height: 128px;
  }
}
.img__aWgnM {
  position: relative;
  object-fit: cover;
  width: 886px;
  height: 216px;
  left: auto;
  top: auto;
  align-self: flex-start;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aWgnM {
    left: auto;
    top: auto;
    width: 473px;
    height: 108px;
    flex-shrink: 0;
  }
}
.box__gIrmH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(68, 192, 255, 0.2);
}
.box__c0Ze {
  display: block;
  position: absolute;
  width: 1395px;
  height: 4px;
  left: 256px;
  top: 624px;
  right: auto;
  background: #0e4b1e73;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__c0Ze {
    top: 274px;
    left: 25px;
    width: 382px;
  }
}
.info {
  display: block;
  position: absolute;
  width: 1399px;
  height: 187px;
  left: 256px;
  top: 881px;
  background: linear-gradient(#013400b0, #013400b0), transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .info {
    top: 611px;
    width: 405px;
    height: 327px;
  }
}
.box__sFLyi {
  color: #ffffff;
  position: absolute;
  font-size: 24px;
  left: 0px;
  top: 0px;
  width: 458px;
  height: 189px;
  font-weight: 400;
  padding: 24px 0px 0px 89px;
  background: transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__sFLyi {
    width: 411px;
    top: 0px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 24px;
    height: 335px;
    left: 0px;
  }
}
.box__cNzV8 {
  color: #ffffff;
  position: absolute;
  width: 723px;
  height: 183px;
  left: 672px;
  top: 0px;
  font-size: 24px;
  padding: 24px 256px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cNzV8 {
    left: 0px;
    padding-left: 24px;
    padding-right: 24px;
    width: 415px;
    font-size: 24px;
    top: 160px;
    height: 164px;
  }
}
