.main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main {
    justify-content: center;
    display: block;
  }
}
.box___6Ppql {
  display: block;
  position: relative;
  width: 1900px;
  height: 280px;
  left: auto;
  top: auto;
  align-self: center;
  flex-shrink: 0;
  background: transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___6Ppql {
    width: 413px;
    height: 127px;
    position: absolute;
    left: 1px;
    top: 0px;
  }
}
.img__t6I05 {
  position: absolute;
  object-fit: cover;
  width: 1900px;
  height: 291px;
  left: 0px;
  top: 0px;
  object-position: 30% 55%;
  z-index: 0;
  opacity: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__t6I05 {
    width: 414px;
    height: 127px;
    left: -1px;
    top: 0px;
  }
}
.box__sr3Wi {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  left: auto;
  top: auto;
  width: 1440px;
  height: 204px;
  right: auto;
  padding-left: 512px;
  align-self: center;
  margin-top: 25px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__sr3Wi {
    left: 13px;
    top: 19px;
    width: 406px;
    padding-left: 0px;
    height: 95px;
    margin-top: 0px;
    position: absolute;
  }
}
.img__aWgnM {
  position: absolute;
  object-fit: cover;
  width: 671px;
  height: 166px;
  left: 180px;
  top: 12px;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aWgnM {
    left: auto;
    top: 0px;
    width: 313px;
    height: 85px;
    bottom: auto;
  }
}
.box__gIrmH {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  background: rgba(68, 192, 255, 0.2);
}
.img__kvRb {
  position: absolute;
  object-fit: cover;
  width: 144px;
  height: 152px;
  left: 1128px;
  top: 25px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__kvRb {
    left: 291px;
    top: 3px;
    width: 92px;
    height: 82px;
  }
}
.oNas {
  display: block;
  position: relative;
  width: 1030px;
  height: 403px;
  left: auto;
  top: auto;
  align-self: center;
  margin-top: 25px;
  margin-bottom: 0px;
  flex-shrink: 0;
  background: linear-gradient(transparent, transparent), transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .oNas {
    top: 90px;
    width: 413px;
    height: 327px;
    left: 0px;
    position: absolute;
  }
}
.oNasBackground {
  display: block;
  position: absolute;
  width: 1900px;
  height: 422px;
  left: -437px;
  top: 0px;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(#7171711a, #7171711a), transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .oNasBackground {
    top: 0px;
    width: 414px;
    height: 239px;
    left: 0px;
  }
}
.img__pzVZp {
  position: absolute;
  object-fit: cover;
  width: 1900px;
  height: 422px;
  left: 0px;
  top: 0px;
  object-position: 35% 60%;
  min-width: 0px;
  mix-blend-mode: normal;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__pzVZp {
    left: 0px;
    top: 0px;
    object-position: 35% 60%;
    height: 348px;
    width: 414px;
  }
}
.box__qcpd6 {
  position: absolute;
  font-size: 45px;
  left: 0px;
  top: 140px;
  width: 1030px;
  height: 56px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  align-self: center;
  font-family: "Slabo 27px", serif;
  font-style: normal;
  padding: 0px 0px 0px 256px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__qcpd6 {
    width: 407px;
    top: 64px;
    font-size: 35px;
    padding-left: 24px;
    padding-right: 24px;
    height: 55px;
    position: absolute;
    left: -10px;
  }
}
.box__nf4NP {
  position: absolute;
  font-size: 19px;
  left: 0px;
  top: 189px;
  width: 1030px;
  height: 214px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  align-self: center;
  font-family: "Slabo 27px", serif;
  font-style: normal;
  padding: 0px 128px 0px 256px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__nf4NP {
    width: 407px;
    top: 120px;
    font-size: 15px;
    padding-left: 24px;
    padding-right: 24px;
    height: 247px;
    position: absolute;
    left: -7px;
  }
}
.box__bsss9 {
  position: absolute;
  left: 0px;
  top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__bsss9 {
    width: 410px;
    top: 330px;
  }
}
.kontakt {
  display: block;
  position: relative;
  width: 1030px;
  height: 309px;
  left: auto;
  top: auto;
  align-self: center;
  margin-top: 35px;
  margin-bottom: 25px;
  flex-shrink: 0;
  background: linear-gradient(transparent, transparent), transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .kontakt {
    top: 454px;
    width: 405px;
    height: 490px;
    left: 0px;
    position: absolute;
  }
}
.kontaktBackground {
  display: block;
  position: absolute;
  width: 1900px;
  height: 300px;
  left: -435px;
  top: 4px;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(#7171711a, #7171711a), transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .kontaktBackground {
    top: -10px;
    width: 414px;
    height: 543px;
    left: 0px;
  }
}
.box__cNzV8 {
  color: #000000;
  border-left-color: #000000;
  border-left-style: solid;
  position: absolute;
  width: 320px;
  height: auto;
  left: 520px;
  top: 95px;
  font-size: 17px;
  font-family: "Scada", sans-serif;
  font-weight: 500;
  padding: 0px 0px 0px 8px;
  border-width: 3px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__cNzV8 {
    left: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 300px;
    font-size: 17px;
    top: 220px;
    height: 99px;
  }
}
.box__sFLyi {
  color: #000000;
  border-left-color: #000000;
  position: absolute;
  font-size: 17px;
  left: 256px;
  top: 94px;
  width: 258px;
  height: 108px;
  font-weight: 500;
  font-family: "Scada", sans-serif;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  padding: 0px 0px 0px 8px;
  background: transparent;
  border-width: 3px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__sFLyi {
    width: 323px;
    top: 100px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 17px;
    height: 101px;
    left: 24px;
  }
}
.box__h2U4J {
  color: #000000;
  position: absolute;
  font-size: 17px;
  left: 0px;
  top: 196px;
  width: 1030px;
  height: auto;
  font-weight: 500;
  font-family: "Slabo 27px", serif;
  padding: 12px 128px 0px 256px;
  background: transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__h2U4J {
    width: 411px;
    top: 340px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 17px;
    height: 163px;
    left: 2px;
    position: absolute;
  }
}
.box__w91SL {
  color: #000000;
  position: absolute;
  font-size: 17px;
  left: 257px;
  top: 65px;
  width: 469px;
  height: 26px;
  font-weight: 600;
  font-family: "Slabo 27px", serif;
  text-decoration-line: none;
  padding: 0px;
  background: #fff100;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__w91SL {
    width: 411px;
    top: 60px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 17px;
    height: 28px;
    left: 0px;
    position: absolute;
  }
}
.box__bdiLe {
  position: absolute;
  font-size: 45px;
  left: 0px;
  top: 6px;
  width: 1030px;
  height: auto;
  font-weight: 500;
  color: #000000fc;
  text-align: left;
  align-self: center;
  font-family: "Slabo 27px", serif;
  font-style: normal;
  padding: 0px 0px 0px 256px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__bdiLe {
    width: 407px;
    top: 0px;
    font-size: 35px;
    padding-left: 24px;
    padding-right: 24px;
    height: 55px;
    position: absolute;
    left: 0px;
  }
}
.uslugi {
  display: flex;
  position: relative;
  width: 1030px;
  height: 850px;
  left: auto;
  top: auto;
  align-self: center;
  margin-top: 16px;
  margin-bottom: 19px;
  flex-direction: column;
  flex-shrink: 0;
  background: linear-gradient(transparent, transparent), transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .uslugi {
    top: 1025px;
    width: 414px;
    height: 998px;
    left: 0px;
    position: absolute;
  }
}
.uslugiBackground {
  display: block;
  position: absolute;
  width: 753px;
  height: 801px;
  left: 202px;
  top: -16px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  background: linear-gradient(#7171711a, #7171711a), transparent;
}
@media (min-width: 0px) and (max-width: 768px) {
  .uslugiBackground {
    top: -1px;
    width: 414px;
    height: 1000px;
    left: auto;
    flex-shrink: 0;
  }
}
.box__l8FYe {
  position: relative;
  font-size: 45px;
  left: auto;
  top: auto;
  width: 1030px;
  height: 74px;
  font-weight: 500;
  color: #000000;
  text-align: left;
  align-self: center;
  font-family: "Slabo 27px", serif;
  font-style: normal;
  flex-shrink: 0;
  padding: 0px 0px 0px 256px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__l8FYe {
    width: 407px;
    top: 10px;
    font-size: 32px;
    padding-left: 24px;
    padding-right: 24px;
    height: 51px;
    position: absolute;
    left: 0px;
    flex-shrink: 0;
  }
}
.box__szNM {
  position: relative;
  font-size: 19px;
  left: auto;
  top: auto;
  width: 1030px;
  height: 732px;
  font-weight: 500;
  color: #000000;
  text-align: left;
  align-self: center;
  font-family: "Slabo 27px", serif;
  font-style: normal;
  flex-shrink: 0;
  padding: 12px 128px 0px 256px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__szNM {
    width: 407px;
    top: 61px;
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
    height: 910px;
    position: absolute;
    left: 0px;
    flex-shrink: 0;
  }
}
